#car-search-form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    box-shadow: 0 0 20px 5px rgba(221, 17, 218,0.7);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#car-model-input {
    flex-grow: 1;
    width: 380px;
    height: 50px;
    background-image: linear-gradient(to right, rgb(2, 3, 41), rgb(71 44 105));
    color: #ffffff; 
    border: 1px solid  rgb(0, 191, 255);
    border-right: none;
    outline: none; 
    font-size: 1.3em;
    padding-left: 10px;
    margin-right: -3px; 
}

.guess {
    height: 50px;
    width: 140px;
    color: rgb(221, 168, 234);;
    background: linear-gradient(to left, rgb(239, 97, 239),  rgb(71 44 105))var(--p, 100%) / var(--p,0%) no-repeat, rgb(71 44 105);
    transition: .5s, background-position 0s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid  #00bfff;
    border-left: none;
    font-size: 1.23em;
    margin-left: -3px;
}

.guess:hover{
    color: rgb(164, 238, 238);
    --p: 100%;
    cursor:pointer;
}

.suggestions-panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 420px;
    max-height: 210px;
    overflow-y: auto;
    margin-top: 15px;
    background-image: linear-gradient(to bottom right, rgb(2, 3, 41), rgb(71 44 105));
    border: 1px solid #00bfff;
    color: #ffffff;
    z-index: 1000;
}

.suggestion {
    display: flex;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;

}
.suggestion:hover {
    background-image: linear-gradient(to bottom right, rgb(68 72 225), rgb(85 17 170));
    cursor: pointer;
}
.suggestion.selected {
    background-image: linear-gradient(to bottom right, rgb(68 72 225), rgb(85 17 170));
    cursor: pointer;
}
