
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color : white;
    text-shadow: 2px 2px 2px  #333;
}

body {
    background-image: url("../backgrounds/background2-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-container {
    display: block;;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; 
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    box-shadow: 0 0 20px 5px rgba(221, 17, 218,0.7);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#car-model-input {
    flex-grow: 1;
    width: 380px;
    height: 50px;
    background-image: linear-gradient(to right, rgb(2, 3, 41), rgb(71 44 105));
    color: #ffffff; 
    border: 1px solid  rgb(0, 191, 255);
    border-right: none;
    outline: none; 
    font-size: 1.3em;
    padding-left: 10px;
    margin-right: -3px; 
}

.guess {
    height: 50px;
    width: 140px;
    color: rgb(221, 168, 234);;
    background: linear-gradient(to left, rgb(239, 97, 239),  rgb(71 44 105))var(--p, 100%) / var(--p,0%) no-repeat, rgb(71 44 105);
    transition: .5s, background-position 0s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid  #00bfff;
    border-left: none;
    font-size: 1.3em;
    margin-left: -3px;
}

.guess:hover{
    color: rgb(164, 238, 238);
    --p: 100%;
    cursor:pointer;
}

.suggestions-panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 420px;
    max-height: 210px;
    overflow-y: auto;
    margin-top: 15px;
    background-image: linear-gradient(to bottom right, rgb(2, 3, 41), rgb(71 44 105));
    border: 1px solid #00bfff;
    color: #ffffff;
    z-index: 1000;
}

.suggestion {
    display: flex;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;

}
.suggestion:hover {
    background-image: linear-gradient(to bottom right, rgb(68 72 225), rgb(85 17 170));
    cursor: pointer;
}
.suggestion.selected {
    background-image: linear-gradient(to bottom right, rgb(68 72 225), rgb(85 17 170));
    cursor: pointer;
}

.square-info-green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 85px;
    border: 1px solid white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    background-color: rgb(30, 191, 30);
    color : white;
    text-shadow: 2px 2px 2px  #333;
}
.square-info-green:hover {
    background-color: rgb(142, 252, 142);
    cursor:default;
}

.square-info-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 85px;
    border: 1px solid white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    background-color: rgb(255, 100, 100);
    color : white;
    text-shadow: 2px 2px 2px  #333;
}
.square-info-red:hover {
    background-color: rgb(169, 6, 6);
    cursor:default;
}

.square-info-orange {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 85px;
    border: 1px solid white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    background-color: rgb(247, 144, 59);
    color : white;
    text-shadow: 2px 2px 2px  #333;
}
.square-info-orange:hover {
    background-color: rgb(253, 188, 134);
    cursor:default;
}

.square-year-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 85px;
    border: 1px solid white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    background-color: rgb(255, 100, 100);
    background-image: url("../backgrounds/darkup.png");
    color : white;
    text-shadow: 2px 2px 2px  #333;
    cursor:default;
}

.square-year-up:hover {
    background-color: rgb(169, 6, 6);
    background-image: url("../backgrounds/lightup.png");
    cursor:default;
}

.square-year-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 85px;
    border: 1px solid white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    background-color: rgb(255, 100, 100);
    background-image: url("../backgrounds/darkdown.png");
    color : white;
    text-shadow: 2px 2px 2px  #333;
    cursor:default;
}

.square-year-down:hover {
    background-color: rgb(169, 6, 6);
    background-image: url("../backgrounds/lightdown.png");
    cursor:default;
}


.model {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 102px;
    max-height: 85px;
    height: auto;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.square-image {
    display: block;
    max-width: 100%; 
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.model:hover .car-name {
    visibility: visible;
    opacity: 1;
    cursor:default;
}

.car-name {
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(31, 49, 65, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}


.guessing-car {
    display: flex;
    width: 760px;
    flex-direction: row;  
}
.all-infos {
    display: flex;
    width: 760px;
    flex-direction: row;
    cursor:default;
}

.name-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 16px;
    border-bottom: 5px solid rgb(255, 255, 255);
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #333; 
}

.hint-icon{
    width: 30%;
    color: grey;
}

#info-panel{
    background-image: linear-gradient(to bottom right, rgb(2, 3, 41), rgb(71 44 105));
    padding: 10px;
    border: 2px solid #00bfff;
    margin-top: 10;
    width: 400px;
    min-height : 167px;
    margin-bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(221, 17, 218,0.7);
}

#win-message {
    display: none;
    background-image: linear-gradient(to bottom right, rgb(2, 3, 41), rgb(71 44 105));
    padding: 10px;
    border: 2px solid #00bfff;
    margin-top: 100px;
    max-width: 70%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(221, 17, 218,0.7);
}
#win-message:hover{
    background-image: linear-gradient(to bottom right, rgb(5 8 137), rgb(166 65 200));
}


.win-car-image {
    max-width: 60%; 
    height: auto;
    margin-top: 10px; 
    border: 1px solid  #00bfff;
    border-radius: 10px;
}

#selected-car-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-container {
    text-align: center;
}

#countdown {
    font-size: 2em;
    color : white;
    transition: transform 0.5s ease-in-out;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .pulse-animation {
    animation: pulse 2s infinite;
  }

  #yesterday-car{
    color : white;
    font-size: 1.1em;
    text-shadow: 1px 1px 2px rgb(85 17 170);
    margin-top: 15%;
  }
  .info-text{
    margin-top : 5px;
    color : white;
    font-size: 1.2em;
  }

::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color:#00bfff; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background-color:  rgb(71 44 105); /* Color of the scrollbar track */
}

/* For Firefox */
* {
    scrollbar-width: 3px;
    scrollbar-color: #00bfff rgb(71 44 105);
}

/* For Internet Explorer and Edge */
*::-ms-scrollbar {
    width: 3px;
}

*::-ms-thumb {
    background-color:#00bfff;
}

*::-ms-track {
    background-color:  rgb(71 44 105);
}