{% extends 'guessing/base.html' %}
{% load static %}

{% block content %}
  
  <div class="main-container">
    <h1>Cardle</h1>
    <div id="info-panel">
      <div id="hint-container">
        <p class="info-text">Guess today's car !</p>
        <!-- <img src="media/icon/drapeau.png" class="hint-icon"> -->
      </div>
    </div>
    <div class="search-container">
      <form id="car-search-form" method="get" action="{% url 'home' %}" autocomplete="off" target="response">
        {% csrf_token %}
        <input type="text" name="car_model" id="car-model-input" autocomplete="off" placeholder="Search for a car model">
        <button class="guess" type="submit">Guess</button>
      </form>
    <div class="suggestions-panel" id="pannel-suggestions"></div>
    </div>
    <div id="name-placement"></div>
    <div id="selected-car-details" class="car-details"></div>
    <div id="yesterday-car">
    </div>
    <div id="win-message" style="display:none;">
      <p style="color :white">GG gamer !</p>
      <img id="win-car-image" src="" alt="Winning Car Image" class="win-car-image">
      <p id="win-message-text"></p>
      <p id="win-message-nbguess"></p>
      <p style="color : white"> Next car in :</p>
      <div class="countdown-container">
        <p id="countdown"></p>
    </div>
    </div>
    <div style="min-height: 25%; width: 100%;"></div>
  </div>
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="{% static 'utils.js' %}"></script>

{% endblock %}
