{% extends 'guessing/base.html' %}
{% load static %}

{% block content %}
  <div class="main-container">
    <h1>Cardle</h1>
    <div class="popup-container">
      <button type="button" class="btn btn-primary" id="changeLanguageBtn">
        Change Language
      </button>
      <div class="popup" id="languagePopup">
        <div class="popup-content">
          <div class="popup-header">
            <h5 class="popup-title">Pick your language</h5>
            <button type="button" class="close" id="closeLanguagePopup">&times;</button>
          </div>
          <div class="popup-body">
            <form id="languageForm" method="post" data-url="{% url 'set_language' %}">
              {% csrf_token %}
              <select name="language" class="form-control" id="languageSelect">
                {% for lang in available_languages %}
                  <option value="{{ lang.code }}" {% if lang.code == request.session.language %}selected{% endif %}>
                    {{ lang.name }}
                  </option>
                {% endfor %}
              </select>
              <button type="button" class="btn btn-primary mt-2" id="changeLanguageSubmit">Change Language</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <p id="win-streak" style="color: white;"></p>
    <div id="info-panel">
      <div id="hint-container">
        <p class="info-text">{{ guess_msg }}</p>
      </div>
    </div>
    <div id="live-count"></div>
    <div class="search-container">
      <form id="car-search-form" method="get" action="{% url 'home' %}" autocomplete="off" target="response">
        {% csrf_token %}
          <input type="text" name="car_model" id="car-model-input" autocomplete="off" placeholder="{{ search }}">
          <button class="guess" type="submit">{{ guess }}</button>
        </form>
        <div class="suggestions-panel" id="pannel-suggestions"></div>
      </div>
      <div id="name-placement"></div>
      <div id="selected-car-details" class="car-details"></div>
      <div id="yesterday-car" style="font-weight: bold; text-shadow: 2px 2px rgb(2, 3, 41);"></div>
      
      <div id="win-message" style="display:none;">
        <p style="color: white">GG gamer!</p>
        <img id="win-car-image" src="" alt="Winning Car Image" class="win-car-image">
        <p id="win-message-text"></p>
        <p id="win-count"></p>
        <p id="win-message-nbguess"></p>
        <p style="color: white">{{ next_car }}</p>
        <div class="countdown-container">
          <p id="countdown"></p>
        </div>
      </div>
      <div style="min-height: 25%; width: 100%;"></div>
    </div>
    
  {% endblock %}